In [1]:
from pandas import DataFrame as df
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import missingno as msno
import warnings
warnings.filterwarnings('ignore')

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'Malgun Gothic'

import json
import folium

In [2]:
attacker=pd.read_csv('data/attacker.csv',encoding='CP949')
attacker

,사고번호,발생일시,발생요일,발생시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도
0,2.018010e+15,2018년 1월 3일 10시,수요일,서울특별시 노원구 상계동,중상사고,0,1,0,0,차대차 - 정면충돌,중앙선침범,포장 - 건조,맑음,단일로 - 기타,자전거,여,48세,중상
1,2.018010e+15,2018년 1월 3일 13시,수요일,서울특별시 강동구 고덕동,부상신고사고,0,0,0,1,차대차 - 측면충돌,안전운전불이행,포장 - 건조,맑음,단일로 - 기타,자전거,남,67세,기타불명
2,2.018010e+15,2018년 1월 3일 14시,수요일,서울특별시 동대문구 답십리동,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,포장 - 건조,맑음,교차로 - 교차로안,자전거,여,72세,경상
3,2.018010e+15,2018년 1월 4일 13시,목요일,서울특별시 구로구 구로동,경상사고,0,0,1,0,차대차 - 기타,중앙선침범,포장 - 건조,맑음,교차로 - 교차로안,자전거,남,33세,경상
4,2.018010e+15,2018년 1월 5일 00시,금요일,서울특별시 영등포구 문래동3가,부상신고사고,0,0,0,1,차대차 - 측면충돌,불법유턴,포장 - 건조,맑음,교차로 - 교차로횡단보도내,자전거,여,24세,부상신고
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,2.018120e+15,2018년 12월 29일 20시,토요일,서울특별시 송파구 삼전동,경상사고,0,0,1,0,차대사람 - 기타,안전운전불이행,포장 - 건조,맑음,기타 - 기타,자전거,남,14세,상해없음
1467,2.018120e+15,2018년 12월 31일 05시,월요일,서울특별시 송파구 삼전동,중상사고,0,1,0,0,차대차 - 기타,안전운전불이행,포장 - 건조,맑음,교차로 - 교차로부근,자전거,남,79세,중상
1468,2.018120e+15,2018년 12월 31일 12시,월요일,서울특별시 노원구 하계동,중상사고,0,1,0,0,차대차 - 측면충돌,기타,포장 - 건조,맑음,단일로 - 기타,자전거,남,67세,중상
1469,2.018120e+15,2018년 12월 31일 16시,월요일,서울특별시 양천구 신월동,경상사고,0,0,1,0,차대차 - 기타,교차로운행방법위반,포장 - 건조,맑음,교차로 - 교차로안,자전거,남,74세,경상
1470,2.018120e+15,2018년 12월 31일 17시,월요일,서울특별시 양천구 목동,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,포장 - 건조,맑음,기타 - 기타,자전거,남,68세,경상

In [3]:
victim=pd.read_csv('data/victim.csv',encoding='CP949')
victim

,사고번호,발생일시,발생요일,발생시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,노면상태,기상상태,도로형태,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2.018010e+15,2018년 1월 3일 10시,수요일,서울특별시 노원구 상계동,중상사고,0,1,0,0,차대차 - 정면충돌,중앙선침범,포장 - 건조,맑음,단일로 - 기타,자전거,남,51세,상해없음
1,2.018010e+15,2018년 1월 3일 13시,수요일,서울특별시 강동구 고덕동,부상신고사고,0,0,0,1,차대차 - 측면충돌,안전운전불이행,포장 - 건조,맑음,단일로 - 기타,이륜,남,21세,부상신고
2,2.018010e+15,2018년 1월 3일 14시,수요일,서울특별시 동대문구 답십리동,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,포장 - 건조,맑음,교차로 - 교차로안,승용,여,72세,상해없음
3,2.018010e+15,2018년 1월 4일 13시,목요일,서울특별시 구로구 구로동,경상사고,0,0,1,0,차대차 - 기타,중앙선침범,포장 - 건조,맑음,교차로 - 교차로안,승용,남,59세,상해없음
4,2.018010e+15,2018년 1월 5일 00시,금요일,서울특별시 영등포구 문래동3가,부상신고사고,0,0,0,1,차대차 - 측면충돌,불법유턴,포장 - 건조,맑음,교차로 - 교차로횡단보도내,승용,남,40세,상해없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,2.018120e+15,2018년 12월 29일 20시,토요일,서울특별시 송파구 삼전동,경상사고,0,0,1,0,차대사람 - 기타,안전운전불이행,포장 - 건조,맑음,기타 - 기타,보행자,남,37세,경상
1467,2.018120e+15,2018년 12월 31일 05시,월요일,서울특별시 송파구 삼전동,중상사고,0,1,0,0,차대차 - 기타,안전운전불이행,포장 - 건조,맑음,교차로 - 교차로부근,승용,남,77세,상해없음
1468,2.018120e+15,2018년 12월 31일 12시,월요일,서울특별시 노원구 하계동,중상사고,0,1,0,0,차대차 - 측면충돌,기타,포장 - 건조,맑음,단일로 - 기타,승용,남,41세,상해없음
1469,2.018120e+15,2018년 12월 31일 16시,월요일,서울특별시 양천구 신월동,경상사고,0,0,1,0,차대차 - 기타,교차로운행방법위반,포장 - 건조,맑음,교차로 - 교차로안,승용,남,61세,상해없음
1470,2.018120e+15,2018년 12월 31일 17시,월요일,서울특별시 양천구 목동,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,포장 - 건조,맑음,기타 - 기타,승용,남,48세,상해없음

In [4]:
attacker.info()
victim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1471 non-null   float64
 1   발생일시        1471 non-null   object
 2   발생요일        1471 non-null   object
 3   발생시군구       1471 non-null   object
 4   사고내용        1471 non-null   object
 5   사망자수        1471 non-null   int64
 6   중상자수        1471 non-null   int64
 7   경상자수        1471 non-null   int64
 8   부상신고자수      1471 non-null   int64
 9   사고유형        1471 non-null   object
 10  법규위반        1471 non-null   object
 11  노면상태        1471 non-null   object
 12  기상상태        1471 non-null   object
 13  도로형태        1471 non-null   object
 14  가해운전자 차종    1471 non-null   object
 15  가해운전자 성별    1471 non-null   object
 16  가해운전자 연령    1471 non-null   object
 17  가해운전자 상해정도  1471 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 207.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1471 non-null   float64
 1   발생일시        1471 non-null   object
 2   발생요일        1471 non-null   object
 3   발생시군구       1471 non-null   object
 4   사고내용        1471 non-null   object
 5   사망자수        1471 non-null   int64
 6   중상자수        1471 non-null   int64
 7   경상자수        1471 non-null   int64
 8   부상신고자수      1471 non-null   int64
 9   사고유형        1471 non-null   object
 10  법규위반        1471 non-null   object
 11  노면상태        1471 non-null   object
 12  기상상태        1471 non-null   object
 13  도로형태        1471 non-null   object
 14  피해운전자 차종    1442 non-null   object
 15  피해운전자 성별    1442 non-null   object
 16  피해운전자 연령    1442 non-null   object
 17  피해운전자 상해정도  1442 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 207.0+ KB

In [5]:
#사망자수와 중상자수 더한 값을 새로운 데이터프레임 열에 저장
attacker['severity'] = attacker['사망자수'] + attacker['중상자수']
victim['severity'] = victim['사망자수'] + victim['중상자수']

#사망자나 중상도가 있을 경우 심각도 높음1 낮음0
def function(x):
    if x >=1:
        return '1'
    else :
        return '0'
attacker['severity']=attacker["severity"].apply(function)
victim['severity']=victim["severity"].apply(function)

In [6]:
attacker['sex'] = attacker['가해운전자 성별']
victim['sex'] = victim['피해운전자 성별']

#남1 여0
def function(x):
    if x =="남":
        return '1'
    else :
        return '0'
attacker['sex']=attacker["sex"].apply(function)
victim['sex']=victim["sex"].apply(function)

In [7]:
#나이값에 포함되어있는 "세" 제거
attacker['age']=attacker['가해운전자 연령'].map(lambda x:x.replace('세',''))
attacker['age']

0       48
1       67
2       72
3       33
4       24
        ..
1466    14
1467    79
1468    67
1469    74
1470    68
Name: age, Length: 1471, dtype: object

In [8]:
#나이값에 포함되어있는 "세" 제거
victim['피해운전자 연령']=victim['피해운전자 연령'].astype(str)
victim['age']=victim['피해운전자 연령'].map(lambda x:x.replace('세',''))
victim['age']

0       51
1       21
2       72
3       59
4       40
        ..
1466    37
1467    77
1468    41
1469    61
1470    48
Name: age, Length: 1471, dtype: object

In [9]:
attacker['law_violation'] = attacker['법규위반']
victim['law_violation'] = victim['법규위반']

#교통법규 위반 유1 무0
def function(x):
    if x in ("교차로운행방법위반","보행자보호의무위반","불법유턴","신호위반","중앙선침범","직진우회전진행방해","차로위반") :
        return '1'
    else :
        return '0'
attacker['law_violation']=attacker["law_violation"].apply(function)
victim['law_violation']=victim["law_violation"].apply(function)

In [10]:
#도로종류 교차로1 나머지0
attacker['road_type'] = attacker['도로형태']
victim['road_type'] = victim['도로형태']

def function(x):
    if x in ("교차로 - 교차로부근","교차로 - 교차로안","교차로 - 교차로횡단보도내") :
        return '1'
    else :
        return '0'
attacker['road_type']=attacker["road_type"].apply(function)
victim['road_type']=victim["road_type"].apply(function)

In [11]:
#맑음0 나머지1
attacker['weather'] = attacker['기상상태']
victim['weather'] = victim['기상상태']

def function(x):
    if x =='맑음' :
        return '0'
    else :
        return '1'
attacker['weather']=attacker["weather"].apply(function)
victim['weather']=victim["weather"].apply(function)

In [12]:
#발생일시에서 시간만 뽑고 "시" 문자열 제거
victim['time']=victim['발생일시'].str[-3:]
victim['time']=victim['time'].map(lambda x:x.replace('시',''))
victim['time']

0       10
1       13
2       14
3       13
4       00
        ..
1466    20
1467    05
1468    12
1469    16
1470    17
Name: time, Length: 1471, dtype: object

In [13]:
#발생일시에서 시간만 뽑고 "시" 문자열 제거
attacker['time']=attacker['발생일시'].str[-3:]
attacker['time']=attacker['time'].map(lambda x:x.replace('시',''))
attacker['time']

0       10
1       13
2       14
3       13
4       00
        ..
1466    20
1467    05
1468    12
1469    16
1470    17
Name: time, Length: 1471, dtype: object

In [14]:
#시간
#주간(오전7시~오후6시)-0  야간(오후7시~오전6시)-1
def function(x):
    if x in ("19","20","21","22","23","00","01","02","03","04","05","06") :
        return '1'
    else :
        return '0'
attacker['time']=attacker["time"].apply(function)
victim['time']=victim["time"].apply(function)

In [15]:
attacker['roadbed']=attacker['노면상태']
victim['roadbed']=victim['노면상태']

#노면상태 건조0 기타1
def function(x):
    if x in ("포장 - 건조","비포장 - 건조") :
        return '0'
    else :
        return '1'
attacker['roadbed']=attacker["roadbed"].apply(function)
victim['roadbed']=victim["roadbed"].apply(function)

In [16]:
#가해운전자 데이터
accident_attacker=attacker[['severity','sex','age','law_violation','road_type','weather','time','roadbed']]
accident_attacker

     severity sex age law_violation road_type weather time roadbed
0           1   0  48             1         0       0    0       0
1           0   1  67             0         0       0    0       0
2           0   0  72             0         1       0    0       0
3           0   1  33             1         1       0    0       0
4           0   0  24             1         1       0    1       0
...       ...  ..  ..           ...       ...     ...  ...     ...
1466        0   1  14             0         0       0    1       0
1467        1   1  79             0         1       0    1       0
1468        1   1  67             0         0       0    0       0
1469        0   1  74             1         1       0    0       0
1470        0   1  68             0         0       0    0       0

[1471 rows x 8 columns]

In [17]:
#피해운전자 데이터
accident_victim=victim[['severity','sex','age','law_violation','road_type','weather','time','roadbed']]
accident_victim

     severity sex age law_violation road_type weather time roadbed
0           1   1  51             1         0       0    0       0
1           0   1  21             0         0       0    0       0
2           0   0  72             0         1       0    0       0
3           0   1  59             1         1       0    0       0
4           0   1  40             1         1       0    1       0
...       ...  ..  ..           ...       ...     ...  ...     ...
1466        0   1  37             0         0       0    1       0
1467        1   1  77             0         1       0    1       0
1468        1   1  41             0         0       0    0       0
1469        0   1  61             1         1       0    0       0
1470        0   1  48             0         0       0    0       0

[1471 rows x 8 columns]

In [18]:
accident_attacker.info()
accident_victim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   severity       1471 non-null   object
 1   sex            1471 non-null   object
 2   age            1471 non-null   object
 3   law_violation  1471 non-null   object
 4   road_type      1471 non-null   object
 5   weather        1471 non-null   object
 6   time           1471 non-null   object
 7   roadbed        1471 non-null   object
dtypes: object(8)
memory usage: 92.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   severity       1471 non-null   object
 1   sex            1471 non-null   object
 2   age            1471 non-null   object
 3   law_violation  1471 non-null   object
 4   road_type      1471 non-null   object
 5   weather        1471 non-null   object
 6   time           1471 non-null   object
 7   roadbed        1471 non-null   object
dtypes: object(8)
memory usage: 92.1+ KB

In [19]:
accident_victim.isnull().sum()

severity         0
sex              0
age              0
law_violation    0
road_type        0
weather          0
time             0
roadbed          0
dtype: int64

In [20]:
accident_attacker.isnull().sum()

severity         0
sex              0
age              0
law_violation    0
road_type        0
weather          0
time             0
roadbed          0
dtype: int64

In [21]:
#나이에서 '미분류' 데이터때문에 타입 변경 불가
accident_attacker['severity']=accident_attacker['severity'].astype(str).astype(int)
accident_attacker['sex']=accident_attacker['sex'].astype(str).astype(int)
# accident_attacker['age']=accident_attacker['age'].astype(str).astype(int)
accident_attacker['law_violation']=accident_attacker['law_violation'].astype(str).astype(int)
accident_attacker['road_type']=accident_attacker['road_type'].astype(str).astype(int)
accident_attacker['weather']=accident_attacker['weather'].astype(str).astype(int)
accident_attacker['time']=accident_attacker['time'].astype(str).astype(int)
accident_attacker['roadbed']=accident_attacker['roadbed'].astype(str).astype(int)
accident_attacker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   severity       1471 non-null   int32
 1   sex            1471 non-null   int32
 2   age            1471 non-null   object
 3   law_violation  1471 non-null   int32
 4   road_type      1471 non-null   int32
 5   weather        1471 non-null   int32
 6   time           1471 non-null   int32
 7   roadbed        1471 non-null   int32
dtypes: int32(7), object(1)
memory usage: 51.8+ KB

In [22]:
#나이에서 '미분류' 데이터 제거
#'미분류'인 행의 인덱스를 저장
idx_attacker=accident_attacker[accident_attacker['age']=='미분류'].index
accident_attacker=accident_attacker.drop(idx_attacker)
accident_attacker

      severity  sex age  law_violation  road_type  weather  time  roadbed
0            1    0  48              1          0        0     0        0
1            0    1  67              0          0        0     0        0
2            0    0  72              0          1        0     0        0
3            0    1  33              1          1        0     0        0
4            0    0  24              1          1        0     1        0
...        ...  ...  ..            ...        ...      ...   ...      ...
1466         0    1  14              0          0        0     1        0
1467         1    1  79              0          1        0     1        0
1468         1    1  67              0          0        0     0        0
1469         0    1  74              1          1        0     0        0
1470         0    1  68              0          0        0     0        0

[1455 rows x 8 columns]

In [23]:
accident_attacker['age']=accident_attacker['age'].astype(str).astype(int)

In [24]:
accident_victim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   severity       1471 non-null   object
 1   sex            1471 non-null   object
 2   age            1471 non-null   object
 3   law_violation  1471 non-null   object
 4   road_type      1471 non-null   object
 5   weather        1471 non-null   object
 6   time           1471 non-null   object
 7   roadbed        1471 non-null   object
dtypes: object(8)
memory usage: 92.1+ KB

In [25]:
#나이에서 '미분류' 데이터때문에 타입 변경 불가
accident_victim['severity']=accident_victim['severity'].astype(str).astype(int)
accident_victim['sex']=accident_victim['sex'].astype(str).astype(int)
# accident_attacker['age']=accident_attacker['age'].astype(str).astype(int)
accident_victim['law_violation']=accident_victim['law_violation'].astype(str).astype(int)
accident_victim['road_type']=accident_victim['road_type'].astype(str).astype(int)
accident_victim['weather']=accident_victim['weather'].astype(str).astype(int)
accident_victim['time']=accident_victim['time'].astype(str).astype(int)
accident_victim['roadbed']=accident_victim['roadbed'].astype(str).astype(int)
accident_victim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   severity       1471 non-null   int32
 1   sex            1471 non-null   int32
 2   age            1471 non-null   object
 3   law_violation  1471 non-null   int32
 4   road_type      1471 non-null   int32
 5   weather        1471 non-null   int32
 6   time           1471 non-null   int32
 7   roadbed        1471 non-null   int32
dtypes: int32(7), object(1)
memory usage: 51.8+ KB

In [26]:
#나이에서 '미분류' 데이터 제거
#'미분류'인 행의 인덱스를 저장
idx_victim=accident_victim[accident_victim['age']=='미분류'].index
accident_victim=accident_victim.drop(idx_victim)
accident_victim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1470
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   severity       1450 non-null   int32
 1   sex            1450 non-null   int32
 2   age            1450 non-null   object
 3   law_violation  1450 non-null   int32
 4   road_type      1450 non-null   int32
 5   weather        1450 non-null   int32
 6   time           1450 non-null   int32
 7   roadbed        1450 non-null   int32
dtypes: int32(7), object(1)
memory usage: 62.3+ KB

In [27]:
accident_attacker.isnull().sum()

severity         0
sex              0
age              0
law_violation    0
road_type        0
weather          0
time             0
roadbed          0
dtype: int64

In [28]:
accident_victim.isnull().sum()

severity         0
sex              0
age              0
law_violation    0
road_type        0
weather          0
time             0
roadbed          0
dtype: int64

In [29]:
accident_victim['age']=accident_victim['age'].astype(str)
accident_victim['age']=accident_victim['age'].astype(float)

In [30]:
accident_victim=accident_victim.dropna(axis=0)
accident_victim

      severity  sex   age  law_violation  road_type  weather  time  roadbed
0            1    1  51.0              1          0        0     0        0
1            0    1  21.0              0          0        0     0        0
2            0    0  72.0              0          1        0     0        0
3            0    1  59.0              1          1        0     0        0
4            0    1  40.0              1          1        0     1        0
...        ...  ...   ...            ...        ...      ...   ...      ...
1466         0    1  37.0              0          0        0     1        0
1467         1    1  77.0              0          1        0     1        0
1468         1    1  41.0              0          0        0     0        0
1469         0    1  61.0              1          1        0     0        0
1470         0    1  48.0              0          0        0     0        0

[1421 rows x 8 columns]

In [31]:
accident_victim['age']=accident_victim['age'].astype(int)

In [32]:
accident_attacker.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455 entries, 0 to 1470
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   severity       1455 non-null   int32
 1   sex            1455 non-null   int32
 2   age            1455 non-null   int32
 3   law_violation  1455 non-null   int32
 4   road_type      1455 non-null   int32
 5   weather        1455 non-null   int32
 6   time           1455 non-null   int32
 7   roadbed        1455 non-null   int32
dtypes: int32(8)
memory usage: 56.8 KB

In [33]:
#독립변수
x_attacker=accident_attacker[['sex','age','law_violation','road_type','weather','time','roadbed']]
x_victim=accident_victim[['sex','age','law_violation','road_type','weather','time','roadbed']]
#종속변수
y_attacker=accident_attacker[['severity']]
y_victim=accident_victim[['severity']]

### 로지스틱 회귀분석
모델의 회귀계수와 오즈비를 구해 독립변수가 분류 결정에 미치는 영향의 정도를 알아본다

In [34]:
import statsmodels.api as sm
#가해자
#로지스틱 회귀분석
logit = sm.Logit(accident_attacker[['severity']],x_attacker)
attacker_result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.570209
         Iterations 5

유의확률 p>|z|가 0.05보다 작으면 유의수준 95%에서 종속변수에 영향을 주는 유의한 변수임
## 유의수준 95%에서 종속변수에 영향을 주는 변수 : 성별(남), 나이(?), 도로형태(교차로)

In [35]:
attacker_result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: -0.018
Dependent Variable: severity         AIC:              1673.3094
Date:               2020-05-20 15:54 BIC:              1710.2887
No. Observations:   1455             Log-Likelihood:   -829.65
Df Model:           6                LL-Null:          -815.16
Df Residuals:       1448             LLR p-value:      1.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     5.0000
----------------------------------------------------------------
                  Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
----------------------------------------------------------------
sex              -0.5978   0.1093 -5.4711 0.0000 -0.8119 -0.3836
age              -0.0077   0.0020 -3.8798 0.0001 -0.0117 -0.0038
law_violation     0.0609   0.1483  0.4108 0.6812 -0.2297  0.3515
road_type        -0.5903   0.1302 -4.5344 0.0000 -0.8454 -0.3351
weather           0.0901   0.2729  0.3303 0.7412 -0.4448  0.6250
time              0.0448   0.1318  0.3398 0.7340 -0.2136  0.3032
roadbed          -0.1780   0.3095 -0.5752 0.5651 -0.7845  0.4285
================================================================

"""

### coef(편회귀계수)
- 한 독립변수 외의 다른 독립변수들이 모두 일정한 상태에서 한 독립변수가 1단위 변할 때 종속변수가 얼마나 변하는 가를 알려줌  
- coef를 통해 종속변수에 미치는 영향의 방향을 파악할 수 있다.  
- coef가 양수이면 그 컬럼의 값이 커질수록 종속변수가 TRUE일 확률이 높아진다는 뜻  
- 반대로 음수이면 그 컬럼의 값이 커질수록 종속변수가 FALSE일 확률이 높아진다는 뜻  
## 자전거 가해운전자 데이터 : 법규위반(o),날씨(맑음x),시간(오후7시~오전6시)

In [36]:
np.exp(attacker_result.params)

sex              0.550042
age              0.992284
law_violation    1.062796
road_type        0.554164
weather          1.094330
time             1.045816
roadbed          0.836931
dtype: float64

### 오즈비 : 오즈의 비율
- Odds란 성공/실패와 같이 상호 배타적이며 전체를 이루고 있는 것들의 비율을 의미  
- 오즈비가 1을 기준으로 큰지 작은지를 파악하여 종속변수에 미치는 영향의 방향을 파악할 수 있다.  
- 아무런 관계가 없을 때 오즈비는 1이다. 1에서 멀리 떨어질수록 종속변수와의 관계가 강하다는 뜻이다. 즉, 종속변수 여부에 큰 영향을 준다는 뜻이다.  
## 자전가 가해운전자 데이터: 성별(남), 도로형태(교차로)가 영향을 미침

# - 자전거 가해자 데이터 
## 유의수준 95%에서 종속변수에 영향을 주는 변수 : 성별(남), 나이(?), 도로형태(교차로)
## Coef(편회귀계수) : 법규위반(o), 날씨(맑음x), 시간(오후7시~오전6시)
## 오즈비 : 성별(남), 도로형태(교차로)

In [37]:
#피해자
#로지스틱 회귀분석
logit = sm.Logit(y_victim,x_victim)
victim_result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.566841
         Iterations 5

In [38]:
victim_result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: -0.014
Dependent Variable: severity         AIC:              1624.9625
Date:               2020-05-20 15:54 BIC:              1661.7763
No. Observations:   1421             Log-Likelihood:   -805.48
Df Model:           6                LL-Null:          -794.38
Df Residuals:       1414             LLR p-value:      1.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     5.0000
----------------------------------------------------------------
                  Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
----------------------------------------------------------------
sex              -0.5308   0.1171 -4.5336 0.0000 -0.7603 -0.3013
age              -0.0108   0.0020 -5.3595 0.0000 -0.0147 -0.0068
law_violation     0.0481   0.1483  0.3247 0.7454 -0.2425  0.3388
road_type        -0.4189   0.1342 -3.1202 0.0018 -0.6820 -0.1558
weather          -0.0036   0.2804 -0.0129 0.9897 -0.5533  0.5460
time              0.0581   0.1333  0.4359 0.6629 -0.2032  0.3194
roadbed          -0.0413   0.3225 -0.1282 0.8980 -0.6734  0.5907
================================================================

"""

### 유의확률 p>|z|
- 0.05보다 작으면 유의수준 95%에서 종속변수에 영향을 주는 유의한 변수임  
## 자전거 피해운전자 데이터 : 성별(남), 나이(?), 도로형태(교차로)

### coef(편회귀계수)
- 한 독립변수 외의 다른 독립변수들이 모두 일정한 상태에서 한 독립변수가 1단위 변할 때 종속변수가 얼마나 변하는 가를 알려줌  
- coef를 통해 종속변수에 미치는 영향의 방향을 파악할 수 있다.  
- coef가 양수이면 그 컬럼의 값이 커질수록 종속변수가 TRUE일 확률이 높아진다는 뜻  
- 반대로 음수이면 그 컬럼의 값이 커질수록 종속변수가 FALSE일 확률이 높아진다는 뜻  
## 자전거 피해운전자 데이터 : 법규위반(o), 시간(오후7시~오전6시)

In [39]:
np.exp(victim_result.params)

sex              0.588132
age              0.989274
law_violation    1.049320
road_type        0.657791
weather          0.996384
time             1.059828
roadbed          0.959502
dtype: float64

### 오즈비 : 오즈의 비율
- Odds란 성공/실패와 같이 상호 배타적이며 전체를 이루고 있는 것들의 비율을 의미  
- 오즈비가 1을 기준으로 큰지 작은지를 파악하여 종속변수에 미치는 영향의 방향을 파악할 수 있다.  
- 아무런 관계가 없을 때 오즈비는 1이다. 1에서 멀리 떨어질수록 종속변수와의 관계가 강하다는 뜻이다. 즉, 종속변수 여부에 큰 영향을 준다는 뜻이다.  
## 자전가 피해운전자 데이터 : 성별(남), 도로형태(교차로)

# - 자전거 가해자 데이터 
## 유의수준 95%에서 종속변수에 영향을 주는 변수 : 성별(남), 나이(?), 도로형태(교차로)
## Coef(편회귀계수) : 법규위반(o), 날씨(맑음x), 시간(오후7시~오전6시)
## 오즈비 : 성별(남), 도로형태(교차로)

# - 자전거 피해자 데이터 
## 유의수준 95%에서 종속변수에 영향을 주는 변수 : 성별(남), 나이(?), 도로형태(교차로)
## Coef(편회귀계수) : 법규위반(o), 시간(오후7시~오전6시)
## 오즈비 : 성별(남), 도로형태(교차로)